<div class="login">
    <div class="container">
        <div class="head">
            <img src="../../../assets/Vault Logo.png" alt="">
            <span><b>Sign In to</b> Dashboard</span>
        </div>
        <div class="form">
            <form action="">
                <div class="input">
                    <label for="email">Email</label>
                    <input type="email" placeholder="username@mail.com" name="" id="">
                </div>
                <div class="input">
                    <label for="password">Password</label>
                    <input type="password" placeholder="•••••••••" name="" id="">
                </div>
                <div class="input">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" placeholder="•••••••••" name="" id="">
                </div>
                <button type="">Submit</button>
            </form>
        </div>
    </div>
</div>