<div class="main">
    <div class="container">
        <div class="nav">
            <div class="user-profile">
                <!-- <app-profile [userDetails]="userName"/> 
                 -->
                <div class="logo">
                    <span class="n">N</span>
                    <span>Note App</span>
                </div>
            </div>
            <div class="menu">
                <app-dynamic-routing (aNote)="receiveNote($event)"/>
            </div>
        </div>
        <div class="activity">
            <!-- <app-editor/> -->
            <router-outlet/>
        </div>
    </div>
</div>